:root {
  --background-color: #f7e7d9af;
  --color-dark: #2a2a2a;
  --primary-color: #fa9a0b;
  --secondary-color: rgb(249, 198, 135);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-vertical {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  background-color: var(--background-color);
}

/* header */
.header_section {
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 1px 0px 10px rgb(134, 133, 133);
  position: sticky;
  top: 0px;
  background-color: var(--secondary-color);
}

.header_menu ul li {
  list-style: none;
  padding: 0.5rem;
}

.header_menu ul li:hover {
  color: var(--primary-color);
  transition: all 0.1s ease-in;
  font-weight: bold;
}

/* dark_mode */
#dark_mode_box {
  display: none;
}

#dark_mode_box:checked + .wrapper {
  background-color: var(--color-dark);
  color: var(--dark-text-color);
}

#dark_mode_box:checked + .wrapper:first-child {
  font-size: xx-large;
}

[for="dark_mode_box"] {
  position: fixed;
  top: 5rem;
  padding: 1rem;
  cursor: pointer;
}

[for="dark_mode_box"]:hover {
  font-size: large;
}

/* hero_section */
.hero_container {
  max-height: 70%;
  margin-top: 5rem;
}

.hero_section {
  background-color: var(--secondary-color);
  width: 50%;
  margin: auto;
  border-radius: 2rem 5rem 20rem 10rem;
}

@media screen and (min-width: 300px) {
  .hero_section {
    width: 80%;
  }
}

.hero_image img {
  height: 350px;
  width: 240px;
  margin-top: -5rem;
  border-radius: 0 0 0 5rem;
}

.hero_description span {
  font-weight: bolder;
  font-size: x-large;
}

.hero_description .tag {
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 0.5rem;
}

.hero_description p {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.hero_description button {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  color: var(--color-dark);
}

.hero_description button i {
  margin-left: 0.2rem;
}

/* banner_section */
.banner_section {
  max-height: 30%;
  margin-top: 2.5rem;
}

.banner_container {
  border-radius: 5rem;
  width: 50%;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 2rem 3rem;
  gap: 0.5rem;
}

@media screen and (min-width: 300px) {
  .banner_container {
    width: 80%;
  }
}

.banner_container div i {
  font-size: 2rem;
  margin-right: 0.9rem;
  background-color: #fa9a0b;
  border-radius: 100%;
  padding: 0.5rem;
  color: white;
}

.banner_descrption .banner_title {
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.3rem;
}

/* skills_section */
#skills {
  scroll-margin-top: 4.2rem;
  margin-top: 3rem;
  padding: 2.2rem;
  background-color: var(--secondary-color);
}

h3 {
  text-align: center;
  padding-bottom: 2rem;
}

.skills_container {
  justify-content: space-around;
}

.skills_container div i {
  font-size: xx-large;
  color: white;
}

.skills_container div:hover {
  cursor: pointer;
}

.skills_container .html i:hover {
  color: orange;
}

.skills_container .css i:hover {
  color: blue;
}

.skills_container .js i:hover {
  color: yellow;
}

.skills_container .react i:hover {
  color: blue;
}

.skills_container .photoshop i:hover {
  color: rgb(2, 2, 60);
}

/* project_section */
#project {
  padding-top: 2.3rem;
  scroll-margin-top: 4.2rem;
}

.project_container {
  gap: 3rem;
  margin-bottom: 3rem;
}

.individual_project {
  background-color: var(--secondary-color);
  text-align: center;
  height: 65%;
  width: 25rem;
  box-shadow: 0px 5px 20px white;
  border-radius: 2rem 7rem 3rem 7rem;
}

@media screen and (min-width: 300px) {
  .individual_project {
    width: 22rem;
  }
}

.img_wrapper {
  height: 20rem;
  max-width: 25rem;
  overflow: hidden;
}

.img_wrapper img {
  border-radius: 2rem 7rem 0 0;
}

.project_links {
  gap: 0.5rem;
  margin-top: 1rem;
}

.project_name {
  font-weight: bold;
  padding: 1rem;
}

/* aboutme_section */
.about_image_wrapper {
  width: 100%;
  height: 50%;
  position: absolute;
}

.about_image_wrapper img {
  opacity: 0.2;
}

@media screen and (max-width: 760px) {
  .about_image_wrapper img {
    display: none;
  }
}

.aboutme_description p {
  padding: 3rem;
  line-height: 2rem;
}

/* footer */

.footer_section {
  justify-content: space-around;
  gap: 3rem;
  margin-top: 2rem;
}

.contact_section {
  text-align: center;
}

.social_media > * {
  padding: 0.5rem;
  font-size: xx-large;
}

.contact_email {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 2rem 2rem;
}

.contact_email i {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 100%;
}

.links_section ul {
  list-style: none;
  margin-left: -2.5rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.links_section ul li:hover {
  color: var(--primary-color);
}

.footer_text {
  background-color: var(--color-dark);
  text-align: center;
  color: white;
  padding: 1rem;
}
